<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Popcart</title>
  <meta name="description" content="Stream, Sell, Shop, Cart 🛒 ">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="~/assets/img/Popcart_Logo.png" style="height:100%" rel="icon">
  <link href="~/assets/img/Popcart_Logo.png" style="height:100%" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="~/assets/css/main.css" rel="stylesheet">

</head>
<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        @* <img src="~/assets/img/Popcart_Logo.png" alt="">  *@
      
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="@Url.Action("Index", "Home")">Get started</a></li>
          <li><a href="@Url.Action("Support", "Home")">Popcart Support</a></li>
          <li><a href="@Url.Action("TermsAndCondition", "Home")">Terms and Conditions</a></li>
          <li><a href="@Url.Action("Privacy", "Home")">Privacy Policy</a></li>
          <li><a href="@Url.Action("Cookie", "Home")">Cookie Policy</a></li>
         </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
    
            @RenderBody()
      
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
